@import "tailwindcss";

@theme {
  --color-primary: #cc0000;
  --color-secondary: #e03030;
  --breakpoint-mobile: 850px;
  --breakpoint-nav3: 900px;
  --breakpoint-nav4: 970px;
  --breakpoint-nav5: 1100px;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  font-family: monospace;
}
